<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

 	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/assets/style.css"/>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.js"></script>
  <script src="/assets/script.js"></script>



<!-- Owl stylesheet -->
<link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
<script src="/assets/owl-carousel/owl.carousel.js"></script>
<!-- Owl stylesheet -->


<!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="/assets/slitslider/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/slitslider/css/custom.css" />
    <script type="text/javascript" src="/assets/slitslider/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="/assets/slitslider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="/assets/slitslider/js/jquery.slitslider.js"></script>
<!-- slitslider -->
<!-- Bootstrap Date-Picker Plugin -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="/assets/css/datepicker.css"/> -->

<!-- Include Required Prerequisites -->
<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script> -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" /> -->
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<!-- 		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
		<title>Music for now</title>
	</head>
	<body>
	
	<!-- Header Starts -->
<div class="navbar-wrapper">

        <div class="navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right">
               <li class="active"><a href="/">Home</a></li>
                <li><a href="/myprofile">Profile</a></li>
                <li><a href="/messages">Messages</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

    </div>
<!-- #Header Starts -->





<!-- <div class="container"> -->

<!-- Header Starts -->

<!-- #Header Starts -->
<!-- </div> -->

		{{{ body }}}

<div class="footer">

<div class="container">



<div class="row">
            <div class="col-lg-3 col-sm-3">
                   <h4>Information</h4>
                   <ul class="row">
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="about.php">About</a></li>
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="agents.php">Agents</a></li>         
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="blog.php">Blog</a></li>
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="contact.php">Contact</a></li>
              </ul>
            </div>
            
            <div class="col-lg-3 col-sm-3">
                    <h4>Newsletter</h4>
                    <p>Get notified about the latest properties in our marketplace.</p>
                    <form class="form-inline" role="form" action="/mailMe" method="POST">
                            <input  name="content" type="text" placeholder="Enter Your email address" class="form-control">
                                <input id="send_mail" class="btn btn-success" type="submit" value="Notify Me!" /></form>
            </div>
            
            <div class="col-lg-3 col-sm-3">
                    <h4>Follow us</h4>
                    <a href="#"><img src="images/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="images/twitter.png" alt="twitter"></a>
                    <a href="#"><img src="images/linkedin.png" alt="linkedin"></a>
                    <a href="#"><img src="images/instagram.png" alt="instagram"></a>
            </div>

             <div class="col-lg-3 col-sm-3">
                    <h4>Contact us</h4>
                    <p><b>Bootstrap Realestate Inc.</b><br>
<span class="glyphicon glyphicon-map-marker"></span> 8290 Walk Street, Australia <br>
<span class="glyphicon glyphicon-envelope"></span> hello@bootstrapreal.com<br>
<span class="glyphicon glyphicon-earphone"></span> (123) 456-7890</p>
            </div>
        </div>
<p class="copyright">Copyright 2013. All rights reserved. </p>


</div></div>




<!-- Modal -->
<div id="loginpop" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-sm-6 login">
        <h4>Login</h4>
          <form class="" role="form" action="/login" method="post">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input type="text" class="form-control" name="username" id="exampleInputEmail2" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword2" placeholder="Password">
        </div>
        <<!-- div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div> -->
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>          
        </div>
        <div class="col-sm-6">
          <h4>New User Sign Up</h4>
          <p>Join today and get updated with all the properties deal happening around.</p>
          <button type="submit" class="btn btn-info"  onclick="window.location.href='/register'">Join Now</button>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /.modal -->

<!-- Modal -->
<div id="bookme" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="container">
            <div class='row'>
                <div class="col-md-12"><h4 class="modal-title my-modal-label">Please enter your payment information below</h4></div>
                  <div class='col-md-4 col-xs-2'></div>
                  <div class='col-md-4 col-xs-8' style="margin-left: -300px; margin-top: 25px; ">
                    <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
                    <form accept-charset="UTF-8" action="/" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Name on Card</label>
                          <input class='form-control' size='4' type='text'>
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-xs-12 form-group card required'>
                          <label class='control-label'>Card Number</label>
                          <input autocomplete='off' class='form-control card-number' size='20' type='text'>
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-xs-4 form-group cvc required'>
                          <label class='control-label'>CVC</label>
                          <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text'>
                        </div>
                        <div class='col-xs-4 form-group expiration required'>
                          <label class='control-label'>Expiration</label>
                          <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text'>
                        </div>
                        <div class='col-xs-4 form-group expiration required'>
                          <label class='control-label'> </label>
                          <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text'>
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-md-12'>
                          <div class='form-control total btn btn-info standard-button'>
                            Total:
                            <span class='amount'>$300</span>
                          </div>
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-md-12 form-group'>
                          <button class='form-control btn btn-primary submit-button standard-button' type='submit' style="margin-top: 20px;" data-dismiss="modal">Pay »</button>
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-md-12 error form-group hide'>
                          <div class='alert-danger alert'>
                            Please correct the errors and try again.
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class='col-md-4 col-xs-2'></div>
            </div>
          </div>
        </div> <!--end modal-body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> 

      </div>
    </div>
  </div>
</div>
<!-- /.modal -->

	</body>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
<script type="text/javascript" src="/assets/js/app.js"></script>
</html>
