



<h1 style="color:black;">MY PROFILE : {{this.artist_name}}</h1>
      <div >
        <div class="image-holder"><img src="{{this.photo}}"  height="350" width="250"class="img-responsive" />
        </div>
        <h4><a href="#">{{this.location}}</a></h4>
        <p style="color:black;">{{this.genre}}</p>
      </div>

