<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="/">Home</a> / Register</span>
    <h2>Register</h2>
</div>
</div>

<div class="container">
<div class="spacer">
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">

<form class="create-update-form" action="register/create" method="POST">
                <input type="text" class="form-control" placeholder="Full Name" name="artist_name">
                <input type="text" class="form-control" placeholder="Enter Email" name="email">
                <input type="password" class="form-control" placeholder="Password" name="">
                <input type="password" class="form-control" placeholder="Confirm Password" name="artist_password">

                <input type class="form-control" placeholder="Location" name="location">
                <input type class="form-control" placeholder="Genre" name="genre">
                <input type="file" class="form-control name="photo">
      <button type="submit" class="btn btn-success" name="Submit">Register</button>
</form>      
          


                
        </div>
  
</div>
</div>
</div>