			<h1 style="color:black;">Artists: </h1>
			  {{#each artist_data}}
 <div id="owl-example" class="owl-carousel">
      <div class="properties">
        <div class="image-holder"><img src="{{this.photo}}" class="img-responsive"/>
          <div class="status sold">{{this.artist_name}}</div>
        </div>
        <h4><a href="property-detail.php">{{this.location}}</a></h4>
        <p style="color:black;">{{this.genre}}</p>
      </div>
 </div>
			
			  {{/each}}
			</div>