<h1 style="color:black;">Artists: </h1>
  {{#each artist_data}}
          <div style="margin-left: 50%;"><img  src="{{this.photo}}" height="250" width="150" class="img-responsive"/>
            <div style="color:black;"  >{{this.artist_name}}</div>
          <h4><a href="property-detail.php">{{this.location}}</a></h4>
          <p style="color:black;">{{this.genre}}</p>
   </div>
  {{/each}}
			